$containerWidth: 1000px;

$primaryColor: #fa785c;
$primaryBlack: #0f0c0c;
$secondaryBlack: #181715;
$lightGray: #79746b;
$gray: #302E2B;

$roudedRadius: 1rem;

$bodyFonts: "Inter", sans-serif;
$headingFonts: "Poppins", sans-serif;

$borderColor: #d8d2c3;
$colorYellow: #fcfaf8;

$h1Size: 2rem;
$h2Size: 1.5rem;
$h3Size: 1.25rem;