plugins/*

# ignore specific themes
themes/twenty*/
themes/tbm-brag/
themes/tbm-brag-2021-05-10-1620/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
