manifest.json
icons
.DS_Store
languages

uploads

wflogs

plugins/*
!plugins/tbm-shout-writer-beer
!plugins/tbm-adm
!plugins/tbm-media-helper
!plugins/tbm-brag-client-club

!plugins/brag-observer
plugins/brag-observer/*
!plugins/brag-observer/js
!plugins/brag-observer/brag-observer.php

!plugins/brag-observer/partials
# !plugins/brag-observer/partials/*


!plugins/brag-observer/classes
!plugins/brag-observer/classes/*

!plugins/ssm-ga
plugins/ssm-ga/*
!plugins/ssm-ga/ssm-ga.php

!plugins/theme-options

!tbm-users
!tbm-shout-writer-beer

!plugins/ssm-articles-json

# ignore specific themes
themes/twenty*/
themes/tbm-brag-2021-05-10-1620/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite