header {
    z-index: 30000;
    // width: $containerWidth;
    height: 115px;
    margin: auto;
    background-color: $primaryBlack;
    color: #fff;
    position: relative;

    &.fixed-top {
        position: fixed;
        top: 0;
        background-color: $primaryBlack;
        width: 100%;
    }

    .network-socials-wrap,
    .user-wrap {
        width: calc(100% / 3);
    }

    .network-socials {
        padding: 0.5rem 1rem 0.5rem 0;
        width: 150px;
        max-width: 100%;
    }

    .logo-wrap {
        text-align: center;
        a {
            display: block;
            img {
                width: 200px;
            }
        }
    }

    .user-wrap {
        .user-ico {
            width: 18px;
            margin-right: 0.25rem;
        }
        .user-name .arrow-down {
            margin-left: 0.25rem;
        }
        align-items: flex-end;
    }

    .socials-top {
        margin-top: 1rem;

        a {
            display: block;
            width: 18px;
            height: 18px;
        }
    }
}

.btn-media-top {
    width: 150px;
    padding: 0.25rem 0 !important;
    .brag-media-top img {
        width: 130px;
    }
}
