.w-100 {
    width: 100%;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-end {
    justify-content: flex-end;
}
.align-items-end {
    align-items: end;
}

.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.container {
    width: $containerWidth;
    max-width: 100%;
    margin: auto;
}

@for $i from 1 through 5 {
    .m-#{$i} {
        margin: #{$i/2}rem;
    }
    .mx-#{$i} {
        margin-left: #{$i/2}rem;
        margin-right: #{$i/2}rem;
    }
    .my-#{$i} {
        margin-top: #{$i/2}rem;
        margin-bottom: #{$i/2}rem;
    }
    .ml-#{$i} {
        margin-left: #{$i/2}rem;
    }
    .mr-#{$i} {
        margin-right: #{$i/2}rem;
    }

    .p-#{$i} {
        padding: #{$i/2}rem;
    }
    .px-#{$i} {
        padding-left: #{$i/2}rem;
        padding-right: #{$i/2}rem;
    }
    .py-#{$i} {
        padding-top: #{$i/2}rem;
        padding-bottom: #{$i/2}rem;
    }
    .pl-#{$i} {
        padding-left: #{$i/2}rem;
    }
    .pr-#{$i} {
        padding-right: #{$i/2}rem;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}