#network {
    position: fixed;
    top: 30px;
    @media (min-width: $tablet) {
        top: 0; // $headerHeight;
    }
    border-radius: 0 0 $roundedRadius $roundedRadius;
    border-bottom: 7px solid rgba(255, 255, 255, 0.5);
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    overflow-y: scroll;
    width: $containerWidth;
    max-width: 100%;
    height: 100vh;
    @media (min-width: $tablet) {
        height: auto;
    }
}
.other-brands {
    border-radius: 0 0 1rem 1rem;
    background-color: $primaryBlack;
}
.brand-box {
    background-color: #fff;
    border-right: 1px solid $primaryBlack;
    border-bottom: 1px solid $primaryBlack;
    height: 75px;
    // flex: 0 0 calc(33.3333% - 1px);
    @media (min-width: $tablet) {
        height: 114px;
        // flex: 0 0 calc(16.6666% - 1px);
    }
    &:nth-of-type(6n + 1) {
        // border-left: 1px solid $primaryBlack;
        // flex: 0 0 calc(33.3333% - 2px);
        @media (min-width: $tablet) {
            // flex: 0 0 calc(16.6666% - 2px);
        }
    }
    &:nth-of-type(6n) {
        // border-right: none;
        // flex: 0 0 33.3333%;
        @media (min-width: $tablet) {
            // flex: 0 0 16.6666%;
        }
    }
}
