@import "utilities/variables";
@import "reset";
@import "layout";
@import "header";
@import "nav";
@import "btn";

@import "home";

@import "footer";
@import "network";

@import "media-queries";

/* body:after {
    content: "";
    position: absolute;
    height: 115px;
    background-color: $primaryBlack;
    width: 100%;
    z-index: -2;
    top: 0;
} */

#skin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    //  scale(1.0309278351);
    width: 1600px;
    z-index: 1;
}
#skin.fixed {
    position: fixed;
    top: 0;
}

.content {
    z-index: 2;
    position: relative
}

main {
    position: relative;
    margin-top: 115px;
}