@import "utilities/variables";
@import "reset";
@import "layout";
@import "header";
@import "nav";
@import "btn";


@import "home";

@import "single";

@import "footer";
@import "network";

@import "media-queries";

@import "temporary";

/* body:after {
    content: "";
    position: absolute;
    height: 115px;
    background-color: $primaryBlack;
    width: 100%;
    z-index: -2;
    top: 0;
} */

#skin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    //  scale(1.0309278351);
    width: 1600px;
    z-index: 1;
}
#skin.fixed {
    position: fixed;
    top: 0;
}

.content {
    z-index: 2;
    position: relative
}

main {
    position: relative;
    margin-top: 115px;
}

.form-control {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}